<div clss="container">
    <h2 style="font-family: 'Pacifico', cursive;">Edit</h2>
    <form class="col m12 s12" action="/update/<%= @edit_post.id %>" method="post">
        <div class="input-field col m12 s12">
            <input id="title" type="text" class="validate" name="title" value="<%= @edit_post.title %>">
            <label for="last_name">Title</label>
        </div>
        <div class="input-field col m12 s12">
          <input readonly name="editor" value="<%= current_user.email %>" id="disabled" type="text" class="validate">
          <label for="disabled">Editor</label>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="image_url">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="input-field col s12 m12">
            <textarea id="textarea1" class="materialize-textarea" name="content"><%= @edit_post.content %></textarea>
            <label for="textarea1">Content</label>
        </div>
        <div class="col s6 m4">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>
    </form>
    <div class="col l12 m12 s12 center-align">
        <a class="waves-effect waves-light btn" href="/">Go To Dashboad</a>
    </div><br>
</div>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
      });
</script>